html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0C2A40;
  color: #FFFFFF;
}

label {
  text-align: left !important;
}

input {
  align-self: center !important;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: rgba(2, 35, 58, 0.88);

  /* position: absolute; */
  width: 182px;
  height: 64px;
  /* left: 439px;
  top: 676px; */

  background: linear-gradient(180deg, #9DFFC5 50%, rgba(157, 255, 197, 0) 114.84%);
  border-radius: 36px;
  border-color: rgba(2, 35, 58, 0.88); 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}